/* MadCap Table Style: */

/*<meta conditions="" Version="9" />*/

mcTableStyle
{
	name: LandingPageImages;
	border-collapse: collapse;
	max-id: 3;
	cell-padding-left: 20px;
	cell-padding-right: 20px;
	cell-padding-top: 20px;
	cell-padding-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-spacing-y: 20;
	border-spacing-x: 20;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	text-align: center;
	vertical-align: middle;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #d63039;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Row1;
	id: 1;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-LandingPageImages
{
	border-collapse: collapse;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-spacing: 20px 20px;
}

.TableStyle-LandingPageImages-Column-Column1
{
	
}

.TableStyle-LandingPageImages-Head-Header1
{
	
}

.TableStyle-LandingPageImages-HeadI-Column1-Header1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #d63039;
}

.TableStyle-LandingPageImages-HeadI-Column1-Header1 p
{
	
}

.TableStyle-LandingPageImages-HeadE-Column1-Header1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #d63039;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-LandingPageImages-HeadE-Column1-Header1 p
{
	
}

.TableStyle-LandingPageImages-HeadF-Column1-Header1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #d63039;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-LandingPageImages-HeadF-Column1-Header1 p
{
	
}

.TableStyle-LandingPageImages-HeadH-Column1-Header1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #d63039;
}

.TableStyle-LandingPageImages-HeadH-Column1-Header1 p
{
	
}

.TableStyle-LandingPageImages-HeadD-Column1-Header1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #d63039;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-LandingPageImages-HeadD-Column1-Header1 p
{
	
}

.TableStyle-LandingPageImages-HeadC-Column1-Header1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #d63039;
}

.TableStyle-LandingPageImages-HeadC-Column1-Header1 p
{
	
}

.TableStyle-LandingPageImages-HeadB-Column1-Header1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #d63039;
}

.TableStyle-LandingPageImages-HeadB-Column1-Header1 p
{
	
}

.TableStyle-LandingPageImages-HeadA-Column1-Header1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #d63039;
}

.TableStyle-LandingPageImages-HeadA-Column1-Header1 p
{
	
}

.TableStyle-LandingPageImages-HeadG-Column1-Header1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #d63039;
}

.TableStyle-LandingPageImages-HeadG-Column1-Header1 p
{
	
}

.TableStyle-LandingPageImages-Foot-Footer1
{
	
}

.TableStyle-LandingPageImages-FootI-Column1-Footer1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-LandingPageImages-FootI-Column1-Footer1 p
{
	
}

.TableStyle-LandingPageImages-FootE-Column1-Footer1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-LandingPageImages-FootE-Column1-Footer1 p
{
	
}

.TableStyle-LandingPageImages-FootF-Column1-Footer1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-LandingPageImages-FootF-Column1-Footer1 p
{
	
}

.TableStyle-LandingPageImages-FootH-Column1-Footer1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-LandingPageImages-FootH-Column1-Footer1 p
{
	
}

.TableStyle-LandingPageImages-FootD-Column1-Footer1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-LandingPageImages-FootD-Column1-Footer1 p
{
	
}

.TableStyle-LandingPageImages-FootC-Column1-Footer1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-LandingPageImages-FootC-Column1-Footer1 p
{
	
}

.TableStyle-LandingPageImages-FootB-Column1-Footer1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-LandingPageImages-FootB-Column1-Footer1 p
{
	
}

.TableStyle-LandingPageImages-FootA-Column1-Footer1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-LandingPageImages-FootA-Column1-Footer1 p
{
	
}

.TableStyle-LandingPageImages-FootG-Column1-Footer1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-LandingPageImages-FootG-Column1-Footer1 p
{
	
}

.TableStyle-LandingPageImages-Body-Row1
{
	
}

.TableStyle-LandingPageImages-BodyI-Column1-Row1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-LandingPageImages-BodyI-Column1-Row1 p
{
	font-weight: bold;
}

.TableStyle-LandingPageImages-BodyE-Column1-Row1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-LandingPageImages-BodyE-Column1-Row1 p
{
	font-weight: bold;
}

.TableStyle-LandingPageImages-BodyF-Column1-Row1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-LandingPageImages-BodyF-Column1-Row1 p
{
	font-weight: bold;
}

.TableStyle-LandingPageImages-BodyH-Column1-Row1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-LandingPageImages-BodyH-Column1-Row1 p
{
	font-weight: bold;
}

.TableStyle-LandingPageImages-BodyD-Column1-Row1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-LandingPageImages-BodyD-Column1-Row1 p
{
	font-weight: bold;
}

.TableStyle-LandingPageImages-BodyC-Column1-Row1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-LandingPageImages-BodyC-Column1-Row1 p
{
	font-weight: bold;
}

.TableStyle-LandingPageImages-BodyB-Column1-Row1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-LandingPageImages-BodyB-Column1-Row1 p
{
	font-weight: bold;
}

.TableStyle-LandingPageImages-BodyA-Column1-Row1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-LandingPageImages-BodyA-Column1-Row1 p
{
	font-weight: bold;
}

.TableStyle-LandingPageImages-BodyG-Column1-Row1
{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-LandingPageImages-BodyG-Column1-Row1 p
{
	font-weight: bold;
}


